@media (max-width: 768px) {
    /* Sekcja dla nawigacji START */
    #main-nav label {
        display: block;
        color: #1ac056;
        text-align: right;
        padding: 15px;
    }
    #main-nav ul {
        margin: 0;
        display: none;
    }
    #main-nav ul .menu-item {
        display: block;
        padding: 15px;
    }
    #main-nav #drop:checked + ul {
        display: block;
    }
    /* Sekcja dla nawigacji STOP */
    
    /* Sekcja dla "o mnie" START */
    #about .col-1-2 {
        width: 100%;
    }
    #about figure .about-img {
        max-width: 100%;
        max-height: none;
    }
    /* Sekcja dla "o mnie" STOP */
    
    /* Sekcja porfolio START */
    #portfolio .portfolio-item {
        width: 100%;
        max-height: none;
    }
    /* Sekcja porfolio STOP */
}

@media (max-width: 480px) {
    /* Sekcja nagłówka */
    #main-header .header-caption {
        font-size: 60%;
    }
    /* Sekcja z kontaktem */
    #contact .col-1-2 h2 {
        text-align: center;
    }
    #contact .col-1-2 {
        width: 100%;
        text-align: center;
    }
    /* Sekcja ikon social media */
    #contact .social-icons a {
        margin: 0;
    }
    section {
        padding: 40px 30px;
    }
}

@media (min-width: 780px) and (max-width: 1170px) {
    /* Sekcja porfolio START */
    #portfolio #portfolio-item-1 {
        width: 50%;
    }
    #portfolio #portfolio-item-2 {
        width: 50%;
    }
    #portfolio #portfolio-item-3 {
        width: 100%;
    }
}


/* Sekcja porfolio STOP */

@media (min-width: 480px) and (max-width: 780px) {
    /* Sekcja kontakt - START*/
    #contact .col-1-2 {
        width: 100%;
    }
}

/* Sekcja kontakt - STOP*/


/* 
@media (max-width: 1170px) {
#portfolio .portfolio-item {
width:50%;
}
#portfolio .portfolio-item:last-child {
width:100%;
}
#portfolio .portfolio-item .portfolio-mask .portfolio-content .portfolio-content-inner w css - width: 100%;

}

}

*/