* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

span {
    color: lawngreen;
}

h2 {
    text-align: center;
}

p {
    line-height: 1.5em;
}

#main-nav {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 10;
}

#main-nav ul {
    text-align: right;
}

#main-nav ul .menu-item {
    display: inline-block;
    padding: 25px;
}

#main-nav ul .menu-item a {
    color: lawngreen;
    text-decoration: none;
    transition: all .3s;
}

#main-nav ul .menu-item a:hover {
    color: #5d5151;
}

#main-header {
    background-image: url(../img/header-background.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

#main-header .header-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

#main-header .header-caption h1 {
    font-size: 4em;
    font-weight: 300;
}

#main-header .header-caption h2 {
    font-size: 2.8em;
    font-weight: 300;
}

#about {
    background-color: #f9fcfe;
}

#about figure {
    text-align: center;
    margin: 0;
}

#about figure .about-img {
    max-height: 350px;
    border: 10px solid #fff;
    border-radius: 10px;
}

.col-1-2 {
    width: 50%;
    float: left;
}

section {
    overflow: auto;
    padding: 40px 60px;
}









